.transactions {
    display: flex;
    flex-direction: column;
}

.transactions_tran {
    display: flex;
    flex: 0 0 content;
    border-bottom: 2px solid var(--trans-separator);
    padding-bottom: 10px;
    margin: 10px;
    justify-content: space-between;
}

.transactions_info {
    flex: 1 1 auto;
}


.transactions_desc {
    margin-bottom: 10px;
}

.transactions_sum {
    
}

.transaction_delete-cont {
    flex: 0 0 content;
    display: flex;
}

.transactions_delete {
    height: 28px;
    width: 28px;
    padding: 0px;
    border: none;
    border-radius: 50%;
    margin: auto;
    background-color: var(--gray);
}
/* 
.transactions_delete:hover {
    box-shadow: 0px 0px 15px var(--delete-tran);
} */

.transaction_edit {
    height: 28px;
    width: 28px;
    padding: 0px;
    border: none;
    margin: auto;
    background-color: var(--gray);
    border-radius: 50%;
}

/* .transaction_edit:hover {
    box-shadow: 0px 0px 15px var(--delete-tran);
} */

.transaction_edit-cont {
    flex: 0 0 content;
    display: flex;
    margin-right: 5px;
}

.transaction__icon {
    fill: var(--primary-button);
}

.transaction__icon:hover {
    fill: var(--control-color-active);
}

.transaction__icon:active {
    fill: var(--control-grey);
}
