@import url(main-container.css);
@import url(wall.css);
@import url(transactions/transaction-filters.css);
@import url(transactions/transaction-input.css);
@import url(transactions/transactions.css);

:root {
    --dark-gray: #f0efef;
    --gray: #e9e7e9;

    --control-color-active: #05a58d;
    --control-color: #328284;

    --purple-shadow: #4f3558;

    --primary-button: #4f3558;
    --primary-button-active: #795386;
    --primary-button-text: white;

    --trans-separator: #bfbfc4;
    --delete-tran: #795386;
    
    --control-grey: rgb(204, 200, 200);
}

html, body, .body__wrap {
    height: 100%;
    margin: 0px;
    background-color: var(--dark-gray);
}